.body {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  height: auto;
}
.main {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 15px 15px 15px 15px #f1f0f0;
  height: 500px;
  width: 800px;
  margin-left: 250px;
}

.titulo1 {
  text-align: center;
  color: rgb(20, 5, 5);
}

#contador {
  border-radius: 50%;
  border: solid 2px #7c7c83;
  width: 50px;
  height: 50px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 650px;
  margin-top: -40px;
}

.contenedor-li {
  border: solid 2px #dddbdb;
  min-height: 273px;
  background-color: rgba(255, 255, 255, 0.9);
}

#lista {
  list-style: none;
  border-color: #7c7c83;

  border-width: 1px;
}

.vacio {
  text-align: center;
}

#ingresar {
  margin-left: 50px;
  margin-top: 60px;
  height: 33px;
  width: 190px;
  font-size: large;
  background-color: #f0f0f0;
}

.btn {
  margin-left: 300px;
  position: absolute;
  margin-top: 160px;
  height: 37px;
  width: 199px;
  font-size: large;
  background-color: rgb(108, 108, 243);
  color: white;
  border-color: white;
}

.p2 {
  text-align: end;
  margin-right: 50px;
}

.check {
  height: 60px;
  width: 16px;
  margin-left: 10px;
}

li {
  display: flex;
  border: solid 1px #bebec1;
  justify-content: flex-start;
  align-items: center;
}

.borrar {
  height: 10px;
  justify-self: flex-end;
  margin-left: auto;
  color: red;
  margin-left: 650px;
  position: absolute;
}
